*:focus {
  outline: none !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
